
/*
.welcome{
  padding: 100px;
}
.categories{
  padding-top: 40px;
}
.cart{
  position: absolute;
  left: 50px;
}
.finish{

  right: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.image {
  height:300px;
  width:1300px;
}
.text {
  padding: 120px;
  color: white;
  font-size: 50px;
  text-align: center;
}
.container {
  position: relative;
  width: 1300px;
}
*/
